query_tabeos.mod
clumps_and_sinks002.dat
find_clumps.mod
.gitignore
run1.001.0037469.050
run1.001.0037469.060
run1.001.0037469.070
run1.001.0037469.080
run1.001.0037469.090
clumpfind/clump_class.mod
clumpfind/clump_mod.mod
clumpfind/clumps_and_sinks001.dat
clumpfind/data_types.mod
clumpfind/Makefile
clumpfind/myprog
clumpfind/phantom
clumpfind/phantomanalysis
clumpfind/phantomsetup
clumpfind/phantom_version
clumpfind/my_program
