query_tabeos.mod
clumps_and_sinks002.dat
find_clumps.mod
.gitignore
run1.001.0037469.050
run1.001.0037469.060
run1.001.0037469.070
run1.001.0037469.080
run1.001.0037469.090
clumpfind/clump_class.mod
clumpfind/clump_mod.mod
clumpfind/clumps_and_sinks001.dat
clumpfind/data_types.mod
clumpfind/Makefile
clumpfind/myprog
clumpfind/phantom
clumpfind/phantomanalysis
clumpfind/phantomsetup
clumpfind/phantom_version
clumpfind/my_program
clumpfind/F2.dat
clumpfind/disc_00019.ascii
clumpfind/F3.dat
clumpfind/F4.dat
clumpfind/F5.dat
clumpfind/F6.dat
clumpfind/F7.dat
clumpfind/F8.dat
clumpfind/F9.dat
clumpfind/find_clumps.o
clumpfind/main.o
